<!-- Homepage.erb -->
<div class="container-fluid">
  <div class="row welcome_blurb">
    By the people, for the people. Come find bars and restaurants that the whole town is buzzing about. Add a location and give us some feedback. ADD MORE DETAILS OF POSTS HERE
  </div>
</div>

<div class="col-md-12 top_ten">
  <div class="col-md-6 topper" style="float: left">
    Your Account: <%= @update_user.username %>
    <!-- <form action="/users/update" method="post">
        <input class="form-control" type="text" name="new_username" value="" placeholder="Enter new username">
      <input class="btn btn-danger form-control" type="submit" value="Save Changes">
    </form> -->
    <form action="/users/update" method="post">
        <input type="hidden" name="id" value="<%= @update_user.id %>">
        <input class="form-control" type="password" name="password" value="" placeholder="Enter current password">
        <input class="form-control" type="password" name="password_new" value="" placeholder="Enter new password">
      <input class="btn btn-danger form-control" type="submit" value="Save Changes">
    </form>
  </div>
  <div class="col-md-6 topper" style="float: right; background: darkred">
    Your Restaurants
  </div>
  <br />
    <div class="">
        <div class="col-md-6">


    </div>
</div>
