<div class="chat">

      <!-- where the actual messages are appended to -->
      <div id="chatbox">
          CHOMP CHAT
      </div>

      <!-- form and button to add the message -->
      <form class="form-horizontal" action="" method="post">
        <input type="text" class="form-control" id="txt-msg" name="msg" value="" placeholder="Message">
        <button class="btn btn-block btn-primary" id="snd-btn" type="button" name="button" class="btn btn-prmary">Send</button>
      </form>

</div>

<button type="button" name="chatToggle" id="chatToggle" class="btn btn-primary">CHOMP CHAT</button>
