<form class="" action="/users/create" method="post">
  <input type="text" name="username" value="" placeholder="Choosername">
  <br>
  <input type="password" name="password" value="" placeholder="password">
  <br>
  <button type="submit" name="button">Signup!</button>

</form>
<hr>
<form class="" action="/users/login" method="post">
  <input type="text" name="username" value="" placeholder="Choosername">
  <br>
  <input type="password" name="password" value="" placeholder="password">
  <br>
  <button type="submit" name="button">Sign in</button>

</form>
