<div class="container-fluid">
  <div class="row">
    By the people, for the people. Come find bars and restaurants that the whole town is buzzing about. Add a location and give us some feedback. ADD MORE DETAILS OF POSTS HERE
  </div>
</div>
<div class="">

    <div class="col-md-6">
      <div class="col-md-6">
        TOP 10 BARS
      </div>
      <div class="col-md-3">
        <!-- going to include top ten from :vote_amount in BARS class -->
        <!-- Bars.sort_by { |bar| bar[:vote_amount]}.reverse!  -->
        <!-- need to add a loop to only include the top 10 -->
        1.<hr>
        2.<hr>
        3.<hr>
        4.<hr>
        5.<hr>
      </div>
      <div class="col-md-3">
        6.<hr>
        7.<hr>
        8.<hr>
        9.<hr>
        10.<hr>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-6">
        TOP 10 RESTAURANTS
      </div>
      <div class="col-md-3">
        <!-- going to include top ten from :vote_amount in BARS class -->
        <!-- Bars.sort_by { |bar| bar[:vote_amount]}.reverse!  -->
        <!-- need to add a loop to only include the top 10 -->
        1.<hr>
        2.<hr>
        3.<hr>
        4.<hr>
        5.<hr>
      </div>
      <div class="col-md-3">
        6.<hr>
        7.<hr>
        8.<hr>
        9.<hr>
        10.<hr>
      </div>
    </div>

</div>
