<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChicagoBarAssociation</title>


    <!--  PRE-FAB CSS LINKS-->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">

    <!--  CUSTOM CSS LINKS-->
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">

    <!--  FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>


  </head>
  <body>

    <header>
      <div class="row">
          <h1>CHOMP</h1>
          <div class="username_or_login">
            <% if session[:logged_in] == true %>
              <div class="<%= @karmaclass %>">Hello, <%= @current_user %> </div><a href='users/logout'>Logout</a>
              <% else %>
              <div>
              <form class="form-inline" action="/users/login" method="post">
                <div class="form-group col-sm-2">
                  <input class="form-control" type="text" name="username" value="" placeholder="Username">
                </div>
                <div class="form-group col-sm-2">
                  <input class="form-control" type="password" name="password" value="" placeholder="password">
                </div>
                  <button type="submit" class="btn btn-primary btn-sm" name="button">LOG IN</button><br>
                  <a href='/users/'>Not registered? Sign up!</a>
              </form></div>
              <!-- <a href="/users">LOGIN/REGISTER</a> -->
            <% end %>
          </div>
        </div>
      </div>

      <nav class "navbar navbar-default">
        <div class="container fluid">
          <!-- RESTAURANT ANCHOR AND TOGGLE -->
          <!-- ATTEMPT AT NAV BAR TOGGLE MEDIA QUERY -->
          <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed"> name="button">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-restaurants" href="#">RESTAURANTS</a>
          </div> -->

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">HOME</a></li>
              <li><a href="/restaurants">RESTAURANT</a></li>
              <li><a href="/users">USER</a></li>
              <li><a href="/users/all">ALL USERS</a></li>
              <li><a href="/restaurants/all">ALL RESTAURANTS</a></li>
            </ul>
          </div>



        </div>
      <!-- END CONTAINER FLUID DIV -->
    </nav>
    <!-- END NAV BAR NAV -->
    </header>



    <%= yield %>


    <!--  PRE-FAB JS SCRIPTS-->
    <script type="text/javascript" src="/scripts/jquery.js"></script>

    <!--  CUSTOM JS SCRIPTS-->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
