<!-- Content Section -->
<section>
  <header>

  </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">404 - Not Found</h1>
                <p class="">
                  <h2 class="notFound"> THE PAGE YOU WERE LOOKING FOR WANDERED OFF!</h2>
                  <h3><a class="myst-link" href="http://wileysb88.github.io/">Or maybe <em>you're</em> the one</a><a class="myst-link" href="http://msturrus.github.io/project1/index.html"> who wandered off...</a></h3>
                </p>
            </div>
        </div>
    </div>
    <footer> <%= erb :stonemen %> </footer>
    <script type="text/javascript">




    </script>
</section>
