<div class="">
  <h3>Tell us about a restaurant. Enter in the info below and post it for the whole Chicagoland area to see!</h3>
</div>
<form class="form-horizontal" action="/restaurants/create" method="post">
  <br />
  <label for="name">Restaurant Name:</label>
  <input type="text" class="form-control" name="name" value="" placeholder="Enter Name">
  <br />
  <br />
  <label for="neighborhood">Neighborhood: </label>
  <select class="form-control" name="neighborhood" placeholder="Select Neighborhood">
        <option value="" disabled selected>Select Neighborhood</option>
        <option value="west_loop">West Loop</option>
        <option value="south_loop">South Loop</option>
        <option value="river_north">River North</option>
        <option value="gold_coast">Gold Coast</option>
        <option value="lincoln_park">Lincoln Park</option>
        <option value="wicker_park">Wicker Park</option>
        <option value="old_town">Old Town</option>
        <option value="lakeview">Lakeview</option>
        <option value="wrigleyville">Wrigleyville</option>
        <option value="roscoe_village">Roscoe Village</option>
        <option value="lincoln_square">Lincoln Square</option>
        <option value="logan_square">Logan Square</option>
  </select>
  <br />
  <label for="neighborhood">Cuisine Type: </label>
  <select class="form-control" name="cuisine" placeholder="Select Cuisine">
        <option value="" disabled selected>Select Cuisine</option>
        <option value="barbeque">Barbeque</option>
        <option value="chinese">Chinese</option>
        <option value="thai">Thai</option>
        <option value="italian">Italian</option>
        <option value="mexican">Mexican</option>
        <option value="sushi">Sushi</option>
        <option value="american">American</option>
  </select>

  <br />
  <label for="patio">Patio</label>
  <input type="radio" id="yes_patio" name="tags" value="patio"><label for="yes_patio">Yes</label>
  <input type="radio" id="no_patio" name="tags" value="no_patio"><label for="no_patio">No</label>
  <br />
  <br />
  <label for="reservations">Do they take reservations?</label>
  <input type="radio" id="yes_reservations" name="tags" value="reservations"><label for="reservations">Yes</label>
  <input type="radio" id="no_reservations" name="tags" value="no_reservations"><label for="no_reservations">No</label>
  <input type="radio" id="idk" name="tags" value="idk"><label for="idk">I don't know</label>
  <br />
  <br />
  <label for="hh">Do they have Happy Hour Deals?</label>
  <input type="radio" id="yes_hh" name="tags" value="hh"><label for="yes_hh">Yes</label>
  <input type="radio" id="no_hh" name="tags" value="no_hh"><label for="no_hh">No</label>
  <input type="radio" id="idk" name="tags" value="idk"><label for="idk">I don't know</label>
  <br />
  <br />
  <label for="hh">How was the service?</label>
  <input type="radio" id="good_service" name="tags" value="good_service"><label for="good_service">Yes</label>
  <input type="radio" id="ok_service" name="tags" value="ok_service"><label for="ok_service">No</label>
  <input type="radio" id="bad_service" name="tags" value="bad_service"><label for="bad_service">I don't know</label>
  <label for="description">Description: </label>
  <br />
  <br />
  <textarea class="form-control description" type="textbox" name="description" value="" placeholder="Tell Us About It"></textarea>
  <br />
  <br />
  <button class="btn btn-primary" type="submit" name="button">Submit Restaurant!</button>
</form>
