body {
  margin: 10px;
  font-family: 'Special Elite', serif;
}

header{
}


h1 {
  font-size: 56px;
  margin-bottom: 0px;

}

<<<<<<< HEAD
nav {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.75);
}

li {
  text-color: white;
}

.username_or_login{
  text-align: right;
  text-size: 12px;
=======

button {
  margin-top: 5px;
>>>>>>> b43ad05382d1c03eb0757300a59e70217dcf5cf8
}

.welcome_blurb{
  text-align: center;
}



.topper{
  text-align: center;
  background: rgba(40, 96, 144, 0.5);
  height: 50px;
  margin-bottom: 5px;
  font-size: 36px;
}

label{
  margin-right: 5px;
  margin-left: 7px;
}

.karma-high {
  color: blue;
}

.karma-med {
  color: orange;
}

.karma-low {
  color: darkred;
}

.notFound {
  position: relative;
}
